test-workflow.json
{
  "name": "Test Flow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "b6e6638a-1bc6-4e37-9889-c080dc4dcdf6",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "666a103f-c8a9-481d-9872-1ae979a52e72",
              "name": "test1",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "d7743f9e-c34c-487c-a655-66fb848439f9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "666a103f-c8a9-481d-9872-1ae979a52e72",
              "name": "test2",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        176
      ],
      "id": "18897397-3f57-48a8-a72e-35ee6fad9fbb",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "666a103f-c8a9-481d-9872-1ae979a52e72",
              "name": "test3",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        352
      ],
      "id": "2a761ea6-7e3c-4ec7-96e5-10a9a2b71841",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "666a103f-c8a9-481d-9872-1ae979a52e72",
              "name": "test4",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        528
      ],
      "id": "8a74ced6-07eb-45bb-a9c8-1a7a6662deab",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "jsCode": "\nconsole.log($input.all());"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        288
      ],
      "id": "423469ab-3f95-4993-a21a-f4686bd5c6b0",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        208,
        176
      ],
      "id": "cd2eb22e-d04b-48bc-ae9b-b73c14881fa4",
      "name": "Wait1",
      "webhookId": "9c7c8b7e-09b3-43f9-9737-a25a74e6bf6f"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "846c71c9-d058-41a4-9688-2de0f328c048",
      "name": "Wait0",
      "webhookId": "5ad4f01d-6da1-4840-ad67-abae6f346e0e"
    },
    {
      "parameters": {
        "jsCode": "setTimeout(() => {\n  return $input.all();\n}, 5000);\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        352
      ],
      "id": "4f052cf8-b449-49c7-929c-6c5708c121da",
      "name": "Code in JavaScript1",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "setTimeout(() => {\n  return $input.all();\n}, 1000);\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        528
      ],
      "id": "3982d16c-c4d7-4bd1-9b3b-17385826b54e",
      "name": "Code in JavaScript2",
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://main-ai.uk",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        0
      ],
      "id": "da1a6562-4d97-4cc8-b02e-ba1256e225e8",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1152,
        288
      ],
      "id": "7c87129b-ada3-4824-9a5e-224d323bf9be",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        []
      ]
    },
    "Edit Fields3": {
      "main": [
        []
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait0": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "cfca8f0c-9cd1-4126-a963-cef79b86f8a5",
  "meta": {
    "instanceId": "e9ccd76f33668b7e5990fab5fd28237572619902ad30dc8c70f9e36479906157"
  },
  "id": "pPL35eDJlrEg_6OG2GW4c",
  "tags": []
}
