test-workflow.old.json
{
  "id": "2XTOyNSghMrUFFrl",
  "name": "Enrich Linkedin profile URLs stored in a Google Sheet",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.prospeo.io/linkedin-email-finder",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-KEY",
              "value": "43b7e4f5c6558ccaa539e0e5f5778f09"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json['Linkden URL'] }}"
            },
            {
              "name": "id",
              "value": "={{ $json.ID }}"
            }
          ]
        },
        "options": {}
      },
      "id": "49a3829e-3127-4761-8ac0-edaa6d0224c2",
      "name": "HTTP Request - Utilize Prospeo.io LinkedIn Email Finder API1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1936, 688],
      "typeVersion": 4.1
    },
    {
      "parameters": {},
      "id": "705aef1b-5e45-4fe8-b1fd-5ebb5d461dd5",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "position": [1872, 1152],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": { "interval": [{ "field": "minutes" }] }
      },
      "id": "f2b8a1b8-13b6-4de3-9cde-336494bf31dc",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [1248, 944],
      "typeVersion": 1.1
    },
    {
      "parameters": { "content": "Sticky note content" },
      "id": "28b1d9c4-c89e-460d-8a5b-0fea42d2d1d8",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [1776, 464],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": { "leftValue": "", "caseSensitive": true, "typeValidation": "strict" },
          "combinator": "and",
          "conditions": [
            { "id": "1", "operator": { "type": "string", "operation": "empty", "singleValue": true }, "leftValue": "={{ $json.Name }}", "rightValue": "" },
            { "id": "2", "operator": { "type": "string", "operation": "empty", "singleValue": true }, "leftValue": "={{ $json.Gender }}", "rightValue": "" },
            { "id": "3", "operator": { "type": "string", "operation": "empty", "singleValue": true }, "leftValue": "={{ $json['Job Title'] }}", "rightValue": "" },
            { "id": "4", "operator": { "type": "string", "operation": "empty", "singleValue": true }, "leftValue": "={{ $json.Summery }}", "rightValue": "" },
            { "id": "5", "operator": { "type": "string", "operation": "notEmpty", "singleValue": true }, "leftValue": "={{ $json['Linkden URL'] }}", "rightValue": "" }
          ]
        },
        "options": {}
      },
      "id": "d8edc9fa-3012-46ab-9ed2-473f55213e78",
      "name": "Conditional Check",
      "type": "n8n-nodes-base.if",
      "position": [1632, 944],
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            { "id": "a1", "name": "Name", "value": "={{ $json.response.full_name }}", "type": "string" },
            { "id": "a2", "name": "Gender", "value": "={{ $json.response.gender }}", "type": "string" },
            { "id": "a3", "name": "Email", "value": "={{ $json.response.email.email }}", "type": "string" },
            { "id": "a4", "name": "Summary", "value": "={{ $json.response.summary }}", "type": "string" },
            { "id": "a5", "name": "Education", "value": "={{ $json.response.education[0].school.name }}", "type": "string" },
            { "id": "a6", "name": "Skills", "value": "={{ $json.response.skills }}", "type": "string" },
            { "id": "a7", "name": "Picture", "value": "={{ $json.response.picture }}", "type": "string" },
            { "id": "a8", "name": "Job Title", "value": "={{ $json.response.job_title }}", "type": "string" },
            { "id": "a9", "name": "Location", "value": "={{ $json.response.location.raw }}", "type": "string" },
            { "id": "a10", "name": "Linkden link", "value": "={{ $json.response.linkedin }}", "type": "string" },
            { "id": "a11", "name": "ID", "value": "={{ $json.ID }}", "type": "string" }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "id": "bdf82dbf-7b6b-4d42-9a6a-34d5cfb691ad",
      "name": "Field Editing",
      "type": "n8n-nodes-base.set",
      "position": [2208, 912],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "897734e2-5d05-4480-a24b-e4b3ae44dce6",
      "name": "Data Merge",
      "type": "n8n-nodes-base.merge",
      "position": [1968, 912],
      "typeVersion": 2.1
    },
    {
      "parameters": { "content": "Documentation sticky" },
      "id": "92a9861d-9e42-4fe2-84a7-03b3b0dbb1b0",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [416, 528],
      "typeVersion": 1
    },
    {
      "parameters": { "content": "Title sticky" },
      "id": "644f38d3-ccf0-4ce3-b759-e129e1074512",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [368, 240],
      "typeVersion": 1
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "value": "1TMr63RWjNa5We-UJis5wXQcm26q4WlhwrGeWlONd3Gg", "mode": "list" },
        "sheetName": { "__rl": true, "value": "gid=0", "mode": "list" },
        "options": {}
      },
      "id": "8ddaddad-b976-46c5-b8a1-e49ecb493e87",
      "name": "Get links from Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [1456, 944],
      "typeVersion": 4.2,
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "fX5xrvXXDjRpNpeh", "name": "Google Sheets (MAIN)" }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "__rl": true, "mode": "list", "value": "1ochnGSCy8V5Mz-nr51dBmugqR50m62K7d6pvbwOHewo" },
        "sheetName": { "__rl": true, "mode": "list", "value": "gid=0" },
        "columns": {
          "value": {
            "ID": "={{ $json.ID }}",
            "Name": "={{ $json.Name }}",
            "Email": "={{ $json.Email }}",
            "Gender": "={{ $json.Gender }}",
            "Skills": "={{ $json.Skills }}",
            "Picture": "={{ $json.Picture }}",
            "Summery": "={{ $json.Summary }}",
            "Location": "={{ $json.Location }}",
            "Education": "={{ $json.Education }}",
            "Job Title": "={{ $json['Job Title'] }}"
          },
          "mappingMode": "defineBelow",
          "matchingColumns": ["ID"]
        },
        "options": {}
      },
      "id": "0923a13d-1097-432d-b22e-375fec9f383e",
      "name": "Update the sheet with information",
      "type": "n8n-nodes-base.googleSheets",
      "position": [2432, 912],
      "typeVersion": 4.2,
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "fX5xrvXXDjRpNpeh", "name": "Google Sheets (MAIN)" }
      }
    }
  ],
  "connections": {
    "Data Merge": { "main": [[{ "node": "Field Editing", "type": "main", "index": 0 }]] },
    "Field Editing": { "main": [[{ "node": "Update the sheet with information", "type": "main", "index": 0 }]] },
    "Schedule Trigger": { "main": [[{ "node": "Get links from Google Sheet", "type": "main", "index": 0 }]] },
    "Conditional Check": {
      "main": [
        [
          { "node": "Data Merge", "type": "main", "index": 1 },
          { "node": "HTTP Request - Utilize Prospeo.io LinkedIn Email Finder API1", "type": "main", "index": 0 }
        ],
        [
          { "node": "No Operation, do nothing", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get links from Google Sheet": { "main": [[{ "node": "Conditional Check", "type": "main", "index": 0 }]] },
    "HTTP Request - Utilize Prospeo.io LinkedIn Email Finder API1": { "main": [[{ "node": "Data Merge", "type": "main", "index": 0 }]] }
  },
  "settings": {}
}
