packages/compiler/__fixtures__/if-workflow.json
{
  "name": "IF Workflow",
  "nodes": [
    { "id": "t1", "name": "Trigger", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [0, 0], "parameters": {} },
    { "id": "i1", "name": "If", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [200, 0], "parameters": { "conditions": { "conditions": [{ "leftValue": "={{ $json.ok }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }] } } },
    { "id": "s1", "name": "Set", "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [400, 0], "parameters": { "mode": "manual", "assignments": { "assignments": [] } } }
  ],
  "connections": {
    "Trigger": { "main": [[{ "node": "If", "type": "main", "index": 0 }]] },
    "If": { "main": [[{ "node": "Set", "type": "main", "index": 0 }], [{ "node": "Set", "type": "main", "index": 0 }]] }
  },
  "active": false
}
